<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Atlas</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/km/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <style>
    body {
        margin-top: 60px;
    }

    ol {
        list-style-position: inside;
        padding-left:0;
    }

    table {
        border-collapse: collapse;
    }

    td, th {
        border: 1px solid #999;
        padding:0.5rem;
        text-align: left;
    }

    .navbar-custom {
        background-color: #234f7e;
    }

    .imgcenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    </style>

</head>

<body style="">

    <!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">-->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="."><font color="white">Home</font></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="atlas"><font color="white">Atlas</font></a>
					</li>
                    <li><a href="."><font color="white">TSI</font></a>
					</li>
                    <li><a href="distribution"><font color="white">Family Distribution</font></a>
					</li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

                <!--
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <p><img src="/static/km/logo.png" width = "100%" /></p>
                
            </div>
        </div>
    </div>
                -->

    <!--
    <p>The small RNAs that change in both lineage- and timepoint-specific (spatiotemporal-specific) manner potentially manipulate human pluripotent stem cells (hPSCs) to achieve a high level of specificity in both dimensions. We present a systematic analysis of small RNAs dynamics during the transition from hPSCs to the three germ layers and further derivatives for identifying spatiotemporal-specific small RNAs. </p>
    <p>To define the grade of spatiotemporal specificity, we utilized two algorithms, namely normalized maximum timepoint specificity index (NMTSI) and across-tissue specificity index (ATSI). Sorting from the maximum index to minimum index, a candidate list of spatiotemporal-specific small RNAs indicated by a high index was revealed; combining with their expression values among three lineages, the spatiotemporal specificity indicated by the highest expression values were displayed. Further filtering the candidate list with a cut-off of absolute fold change #lt; 2 and P value #gl 0.05, we identified 1895 spatiotemporal-specific small RNAs. </p>
    <p>Beyond the analysis of single small RNAs, we also quantified the tissue-specificity of clustered small RNAs (miRNA families) and observed a differentially predominant expression patterns of miRNA families in certain tissues. To clarify the regulatory effects of miRNAs on cellular events during lineage differentiation, we performed a gene ontology (GO) analysis on the downstream targets of up- and downregulated miRNAs. Different biological processes were shown to associate with particular lineages. To provide an integrated interface for researchers to access and browse the comprehensive information of small RNAs, including NMTSI values, ATSI values, fold changes, spatiotemporal specificity and family distributions, we designed a web-based tool named Human Small RNA Atlas</p>
    -->
    
    <br>
    <p><img src="/static/km/homepage.png" width = "90%" class = "imgcenter"/></p>
    <br>


    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <p>We provide a <a href="atlas">search engine</a> to retrieve detailed information of small RNA. For reference, please cite the following paper: </p>
            <p>Li, L., Miu, K. K., Gu, S., Cheung, H. H. & Chan, W. Y. Comparison of multi-lineage differentiation of hiPSCs reveals novel miRNAs that regulate lineage specification. Sci Rep 8, 9630, doi:10.1038/s41598-018-27719-0 (2018).</p>
            <p>contact: lli172@usc.edu, jinfeng@megagon.ai.</p>
                
            </div>
        </div>
    </div>

    <div class="container">
        <footer>
            <div class="row">
                <div id="clustrmaps-widget" style="width: 10%; margin: 0 auto;" >
                    <script type="text/javascript" id="clstr_globe" src="//cdn.clustrmaps.com/globe.js?d=ikHBLpOMkFz9QffIhxdWVZQVqVgh8tOKO66XS3dlE54"></script>
                </div>
        </footer>
    </div>
        
    
    
    
    
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="/static/km/js/jquery-1.10.2.js"></script>
    <script src="/static/km/js/bootstrap.js"></script>



</body></html>
